{
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env", {
          "debug": true,
          "modules": false,
          "targets": {
            "chrome": 59,
            "firefox": 54,
            "edge": 14,
            "safari": 11
          }
        }],
        "react"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "commonjs": {
      "presets": [
        [
          "env", {
          "debug": true,
          "targets": {
            "chrome": 59,
            "firefox": 54,
            "edge": 14,
            "safari": 11
          }
        }],
        "react"
      ]
    },
    "es2015": {
      "presets": [
        [
          "env", {
          "debug": true,
          "modules": false,
          "targets": {
            "chrome": 59,
            "firefox": 54,
            "edge": 14,
            "safari": 11
          }
        }],
        "react"
      ]
    }
  }
}
